<template>
  <div class="col-md-4 top10">
    <div class="search-list">
      <form submit.trigger="addSearch()">
        <div class="input-group">
          <input type="text" value.bind="searchQuery" placeholder="Enter a keyword" class="form-control" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Search</button>
          </span>
        </div>
      </form>
      <ul class="list-group top10">
        <li repeat.for="search of searches" class="list-group-item">
          <span class="badge">${search.designs.length}</span>
          ${search.searchQuery}
        </li>
      </ul>
    </div>
    <a route-href="route: results" class="btn btn-primary top10">Finish</a>
  </div>

  <div class="design-list col-md-8 top10">
    <ul class="list-group">
      <li repeat.for="design of currentSearch.designs" class="list-group-item">
        <div class="panel panel-default">
          <div class="panel-heading">${design.name}</div>
            <div class="panel-body text-center">
              <img src.bind="design.href" class="img-thumbnail img-responsive" />
            </div>
            <div class="panel-footer text-center">
              <div class="btn-group">
                <label class="btn btn-success">
                  <input type="radio" name.bind="design.id" model.bind="true" checked.bind="design.liked" autocomplete="off" /> Like
                </label>
                <label class="btn btn-danger">
                  <input type="radio" name.bind="design.id" model.bind="false" checked.bind="design.liked" autocomplete="off" /> Dislike
                </label>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>
