<template>
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Thank you!</div>
      <div class="panel-body">
        <p>Total of voted designs: ${totalVotes}</p>
      </div>

      <table class="table table-striped top10">
        <tr>
          <td></td>
          <th>Liked</th>
          <th>Disliked</th>
        </tr>
        <tr repeat.for="search of searches">
          <th>${search.searchQuery}</th>
          <td>${search.likedDesigns}</td>
          <td>${search.dislikedDesigns}</td>
        </li>
        </tr>
      </table>
    </div>

    <div class="text-center">
      <a route-href="route: home" class="btn btn-primary">Start over</a>
    </div>
  </div>
  <div class="col-md-3"></div>
</template>
